/* * * * * * * * * * * * * General Styles * * * * * * * * * * * * */
* {
	box-sizing: border-box;
	color: #777;
}
body, html {
	height: 100%; /*sticky footer*/
}
body {

	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	display: flex; /*sticky footer*/
  	flex-direction: column;	/*sticky footer*/
}

h1,h2,h3 {
	font-family: 'Georgia', Times, 'Times New Roman', serif;
	color: #4aaaa5;
	font-weight: bold;
}

h1 {
	font-size: 30px;
}

h2 {
	font-size: 20px;
}

/* * * * * * * * * * * * * * Header * * * * * * * * * * * * */

header {
	border-bottom: 2px solid #ccc;


}
]

header h1 {
	color: white;
	background: #4aaaa5;
	line-height: 100px;
	padding: 0 40px;
}

nav a {
	text-decoration: none;
	padding: 10px 20px;
	border: 1px solid #ccc; 
	transition: color .2s ease;

}
nav a:last-child {

}
a {
	color: #4aaaa5;
}
nav a:hover, nav a:focus {
	color: #4aaaa5;
}
.nav-pills .nav-link {
	transition: background-color .3s ease, color .3s ease, border-color .3s ease;
	line-height: 1.2;
}
.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
	background-color: #4aaaa5;
	border: 1px solid #4aaaa5;
}
.nav-pills .nav-link:hover, .nav-pills .show>.nav-link {
	background-color: #4aaaa5;
	color: white;
	border: 1px solid #4aaaa5;
}

/* * * * * * * * * * * * * * Main Section * * * * * * * * * * * * */

.content-wrapper {
	background: #4aaaa5 url('../images/hypnotize.png');
	/*background-blend-mode: screen;*/
	flex: 1 0 auto;  sticky footer
}

hr {
	border:none;
	height: 3px;
	background: #ddd;
	margin:0 0 30px 0;
}

.sidebar hr {
	height: 2px;
}

/* * * * * * * * * * * * * * Home Page * * * * * * * * * * * * */


.main-content p {
	line-height: 1.5;
	margin-bottom: 16px;
}


.icon img {
	width: 100%;
	display: block;
	opacity: .7;
	transition: opacity .2s ease;
}
.icon img:hover {
	opacity: 1;
}

/* * * * * * * * * * * * * * Contact Page * * * * * * * * * * * * */

label {
	display: block;
	margin-bottom: 8px;
}
input, textarea {
	display: block;
	width: 100%;
	padding: 10px;
	margin-bottom: 20px;
	border: 1px solid #ddd;
}
input:focus, textarea:focus {
	outline: #4aaaa5 auto 2px;
}
input::placeholder {
	color: #ccc;
	font-size: 14px;
	font-weight: 200;
}
.btn-submit {
	background: #4aaaa5;
	border: none;
	color: #fff;
	font-size: 16px;
	-webkit-font-smoothing: antialiased;
	padding: 10px 30px;
	transition: background .2s ease;
	cursor: pointer;
	position: relative;
}
.btn-submit:hover, .btn-submit:focus {
	background: #46807c;
	outline: none;
}
.btn-submit:active {
	background: #ccc;

}
.btn-submit:active:after {
	content:"This form doesn't do anything";
	color: #4aaaa5;
	left: 105%;
	position: absolute;
	width:300px;
}


/* * * * * * * * * * * * * * Portfolio Page * * * * * * * * * * * * */

.portfolio-item {

	margin: 20px 0;
	position: relative;
}


.portfolio-item .project-name {
	
	text-align: center;
	position: absolute;
	bottom: 7%;
	width: 100%;
	padding-left: 15px;
	padding-right: 15px;
	left: 0;
}
.portfolio-item .project-name h2 {
	color: white;
	line-height: 2;
	font-weight: 500;
	background: #4aaaa5;
}



/* * * * * * * * * * * * * * Footer * * * * * * * * * * * * */

footer {
	background: #666;
	color: #fff;
	border-top: 5px solid #4aaaa5;
}
footer p {
	color: #ddd;
	font-size: 12px;
	padding: 30px;
	text-align: center;
}

@media screen and (max-width: 980px) {
	
}

@media screen and (max-width: 768px) {
	h1 {
		font-size: 24px;
	}
	
	.icon {
		max-width: 60px;
		padding-right: 5px;
	}
}

@media screen and (max-width: 575.999px) {
	header .container {
		padding: 0;
	}
	.sticky-top {
		position: static;
	}
	h1 {
		font-size: 24px;
		line-height: 50px;
	}
	
}