/* * * * * * * * * * * * * * General Styles * * * * * * * * * * * * */

* {
	box-sizing: border-box;
	color: #777;
}

body, html {
	height: 100%; /*sticky footer*/
	min-width: 960px;
}

body {
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	display: flex; /*sticky footer*/
  	flex-direction: column;	/*sticky footer*/
}

h1,h2,h3 {
	font-family: 'Georgia', Times, 'Times New Roman', serif;
	color: #4aaaa5;
	font-weight: bold;
}

h1 {
	font-size: 30px;
}

h2 {
	font-size: 20px;
}

.flex {
	display: flex;
	justify-content: space-between;
}

/* * * * * * * * * * * * * * Header * * * * * * * * * * * * */

header {
	border-bottom: 2px solid #ccc;
}
header .content {
	align-items: center;
}

header h1 {
	color: white;
	background: #4aaaa5;
	line-height: 100px;
	padding: 0 40px;
}

nav.flex {
	width: 270px;
	justify-content: flex-end;
}
nav a {
	text-decoration: none;
	padding: 10px 20px;
	border-right: 1px solid #ccc; 
	transition: color .2s ease;

}
nav a:last-child {
	padding-right: 0;
	border:none;
}

nav a:hover, nav a:focus {
	color: #4aaaa5;
}

/* * * * * * * * * * * * * * Main Section * * * * * * * * * * * * */

.content-wrapper {
	background: #4aaaa5 url('../images/hypnotize.png');
	background-blend-mode: screen;
	flex: 1 0 auto; /* sticky footer*/
}

.content {
	width: 960px;
	margin: auto;
	align-items: flex-start;
}

.main-content, .sidebar {
	background: #fff;
	border: 1px solid #ddd;
	margin: 40px 0;
	padding: 30px;
}

.main-content h1, .sidebar h2 {
	padding-bottom: 30px;
}

.main-content {
	width: 650px;
}

.sidebar {
	width: 270px;
}

hr {
	border:none;
	height: 3px;
	background: #ddd;
	margin:0 0 30px 0;
}

.sidebar hr {
	height: 2px;
}

/* * * * * * * * * * * * * * Home Page * * * * * * * * * * * * */

.main-content .portrait {
	width: 33%;
	float: left;
	margin: 0 20px 20px 0;
}
.main-content p {
	line-height: 1.5;
	margin-bottom: 16px;
}

.icon {
	width: 30%;
}

.icon img {
	width: 100%;
	display: block;
	opacity: .7;
	transition: opacity .2s ease;
}
.icon img:hover {
	opacity: 1;
}

/* * * * * * * * * * * * * * Contact Page * * * * * * * * * * * * */

label {
	display: block;
	margin-bottom: 8px;
}
input, textarea {
	display: block;
	width: 100%;
	padding: 10px;
	margin-bottom: 20px;
	border: 1px solid #ddd;
}
input:focus, textarea:focus {
	outline: #4aaaa5 auto 2px;
}
input::placeholder {
	color: #ccc;
	font-size: 14px;
	font-weight: 200;
}
.btn-submit {
	background: #4aaaa5;
	border: none;
	color: #fff;
	font-size: 16px;
	-webkit-font-smoothing: antialiased;
	padding: 10px 30px;
	transition: background .2s ease;
	cursor: pointer;
	position: relative;
}
.btn-submit:hover, .btn-submit:focus {
	background: #46807c;
	outline: none;
}
.btn-submit:active {
	background: #ccc;

}
.btn-submit:active:after {
	content:"This form doesn't do anything";
	color: #4aaaa5;
	left: 105%;
	position: absolute;
	width:300px;
}


/* * * * * * * * * * * * * * Portfolio Page * * * * * * * * * * * * */

.portfolio {
	flex-wrap: wrap;
	align-content: space-between;
	margin-top: -10px;
	margin-bottom: -20px;
}

.portfolio-item {
	flex: 0 0 47%;
	flex-wrap: wrap;
	margin: 20px 0;
	position: relative;
}
.portfolio-item img{
	width: 100%;
	transition: filter .3s ease;

}
.portfolio-item:hover img{
	filter: saturate(130%) brightness(120%);

}

.portfolio-item .project-name {
	background: #4aaaa5;
	text-align: center;
	position: absolute;
	bottom: 7%;
	width: 100%;
}
.portfolio-item .project-name h2 {
	color: white;
	line-height: 2;
	font-weight: 500;
}



/* * * * * * * * * * * * * * Footer * * * * * * * * * * * * */

footer {
	background: #666;
	color: #fff;
	border-top: 5px solid #4aaaa5;
}
footer p {
	color: #ddd;
	font-size: 12px;
	padding: 30px;
	text-align: center;
}

@media screen and (max-width: 980px) {
	body, html {
		min-width: 100%;
		max-width: 100%;
	}
	.content {
		width: 730px;
	}

	.main-content {
		width: 57%;
	}
	.main-content .portrait {
		width: 100%;
	}

	.sidebar, nav.flex {
		width: 37%;
	}


	.portfolio-item {
		flex: 0 0 100%;
	}
}

@media screen and (max-width: 768px) {

	nav a {
		padding: 6px 10px;
	}
	.main-content {
		width: 100%;
		margin-bottom: 0;
	}
	.main-content .portrait {
		width: 50%;
	}

	.sidebar {
		width: 100%;
	}
	.sidebar h2 {
		padding-bottom: 20px;
	}
	.sidebar hr {
		margin-bottom: 20px;
	}
	.sidebar .flex {
		justify-content: flex-start;
	}

	.icon {
		max-width: 60px;
		padding-right: 5px;
	}
	.content {
		width: 600px;
		flex-wrap: wrap;
	}
	.main-content {
		width: 100%;
		margin-bottom: 0;
	}
	.main-content .portrait {
		width: 50%;
	}
	
	.portfolio-item {
		flex: 0 0 48%;
	}

}

@media screen and (max-width: 640px) {
	header .content {
		width: 100%;
	}
	header h1 {
		width: 100%;
		text-align: center;
		line-height: 65px;
	}
	h1 {
		font-size: 24px;
		line-height: 50px;
	}
	nav.flex {
		width: 100%;
		justify-content: center;
		padding: 15px 0;
	}
	nav a {
		flex: 1;
		text-align: center;
	}
	.content {
		width: 94%;
		min-width: 300px;
	}
	.main-content {
		margin-top: 15px;
	}
	.main-content .portrait {
		width: 100%;
	}


	.portfolio-item {
		flex: 0 0 100%;
	}

	
}